body {
    background: hsl(0, 9%, 94%);
    text-align: center;
}

/* la mise en forme de la page index*/

body h1 {
    text-align: left;
    justify-content: left;
}

header .menu {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: rgb(247, 239, 239);
    padding:  10px 300px;
    font-size: 22px;
    text-align: center;
    margin: 0 200px;
    
}

.head img {
    display: inline-block;
    display: block;
    margin: 0 auto;
    height: 650px;
    width: auto;
}

.head a {
    background-color: #e5926b;
    color: white;
    margin: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin-top: 20px; 
    border-radius: 8px;
    
  }   
  /*fin de la page accueil


  /*début de la page boites à idées*/
  body .container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
  }
  .container .Btn_add {
    width: fit-content;
    margin-bottom: 20px;
    background-color: #e5926b;
    padding: 5px 20px;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: 0;
    border-radius: 6px;
    text-decoration: 0;

  }
  .container .Btn_add img {
    margin-right: 5px;
    height: 20px;
  }

  /*Tableau */
  table {
    border-collapse: collapse;
    color: #404040;
  }
  th {
    font-size: 16px;
    border-bottom: 3px solid #ffcb61;
    padding: 5px 20px;
    font-weight: 500;

  }
  td {
font-weight: 400;
padding: 5px 30px;
font-size: 14px;

  }

  img {
    height: 25px;
  }
  tr:nth-child(2n) td {
    background-color: #f6f8f8;
  }
  tr:nth-child(2n) td {
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
  }
  
